<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movium</title>
</head>
<body>
    <h1>Add your profile!</h1>

    <form action="/profile/add" method="post">
        <label for="">Name</label>
        <input type="text" name="name" placeholder="Enter your name.."><br><br>

        <label for="">Description</label>
        <input type="text" name="description" placeholder="Enter your description.."><br><br>

        <label for="">Avatar</label>
        <input type="text" name="avatarUrl"><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>