<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movium</title>
</head>
<body>
    <h1>Register here:</h1>
    <% error?.forEach(el => { %>
     <p style="color:red"><%= el %></p>
    <% }) %>
    <form action="/register" method="post">
        <label for="">Username</label>
        <input type="text" name="username"><br><br>

        <label for="">Password</label>
        <input type="text" name="password"><br><br>

        <label for="">Role</label>
        <select name="role" id="">
            <option selected hidden disabled>--SELECT--</option>
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select><br><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>